.project {
  padding: 80px 0;
  background-color: black;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 15px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link:hover,
.project .nav.nav-pills .nav-link.active {
  background: linear-gradient(90.21deg, #AA367C, #4A2FBD);
  color: #fff;
}

.proj-imgbx {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.proj-imgbx img {
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.proj-imgbx:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.proj-imgbx:hover img {
  transform: scale(1.05);
}

.proj-txtx {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.proj-imgbx:hover .proj-txtx {
  opacity: 1;
  transform: translateY(-20px);
}

.proj-txtx a {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #ffffff;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.proj-txtx span {
  font-size: 16px;
  color: #B8B8B8;
}

/* Media queries for responsive text sizing */
@media (max-width: 768px) {
  .proj-txtx h4 {
    font-size: 20px;  /* Smaller font size for mobile */
  }

  .proj-txtx span {
    font-size: 14px;  /* Smaller font size for mobile */
  }
}

@media (min-width: 769px) {
  .proj-txtx h4 {
    font-size: 24px;  /* Default font size for desktop */
  }

  .proj-txtx span {
    font-size: 16px;  /* Default font size for desktop */
  }
}
