.skill {
    padding: 0 0 50px 0;
    position: relative;
  }
  .skill-bx {
    overflow: hidden;
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  .skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
  .skill-slider {
    width: 90%;
    padding-bottom: 33px;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  }

  .relative {
    position: relative;
  }

  /* toggle */
  .toggle-btn {
    position: absolute;
    top: 30px;
    left:40px;
    padding: 10px 10px;
    background-color: rgb(36, 35, 35);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.list-skills {
    gap: 20px;
    margin-top: 20px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

.list-skills.hide {
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
}

.skill-slider.hide {
    position: absolute;
    opacity: 0;
}

/* Wrapper for the icons */
.icon-wrapper {
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Image styling */
.icon-wrapper img {
    display: block;
    width: 60px;
    height: 60px;
}


.list-skills ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}


.list-skills li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    padding: 10px 0px;
}

@media (min-width: 768px) {
    .list-skills ul {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .list-skills li {
        padding: 20px;
    }
}
.list-skills img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}


.list-skills img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect with light glow for each image */
.list-skills li img:hover {
    transform: scale(1.2);
}
